<div class="container-full">
  <section>
    <h1>
      Upcoming events
    </h1>
    
    <div class="grid-event-list">
      <% @events.each do |event| %>
        <%= link_to event, class: "surface event-tile", style: "background-image: url( #{url_for(event.banner) if event.banner.attached?} )" do %>
          <%= content_tag "div" do %>
            <%= event.name %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </section>
</div>
