<h1>Register a new account on seedbase</h1>

<%= form_with model: @user, local: true do |f| %>
  <%= f.text_field :email, placeholder: "Email" %>
  <%= f.password_field :password, placeholder: "Password" %>

  <%= f.button "Create user" %>
<% end %>