// Fonts
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// Colours
$dark-grey: shade(#fff, 70%);
$medium-grey: shade(#fff, 50%);
$light-grey: shade(#fff, 30%);

$action: #2f80ed;
$action-affirmative: #13d38b;
$action-warning: #ff4a4a;