<div class="surface">
  <div class="notice"><%= flash[:notice] %></div>

  <p>
    Menu-esque thing

    <ul>
      <li><%= link_to "Edit Event", edit_event_path(@event) %></li>
      <li><%= link_to "Schedule a new occurrence", new_event_schedule_path(@event) %></li>
    </ul>
  </p>

  <p>
    Upcoming

    <ul>
      <% @event.scheduled_events.each do |scheduled_event| %>
        <li><%= link_to "#{scheduled_event.starts_at} (#{distance_of_time_in_words(Time.now, scheduled_event.starts_at)} away)", event_schedule_path(@event, scheduled_event) %></li>
      <% end %>
    </ul>
  </p>


</div>