$logo-size: 2.5em;

header {
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0 1.25em;
  box-sizing: border-box;

  h1 {
    font-size: $logo-size;
    font-weight: $bold;
  }
}
