// Grids
.grid-layout {
  display: grid;
  grid:
    "header"
    "body"
    "footer"
    / 1fr;

  @media (max-width: 650px) {
    grid:
      "header"
      "banner"
      "body"
      "footer"
      / 1fr;
  }
}

.grid-event {
  display: grid;
  grid-gap: 1.85vw;
  grid-template-columns: 5fr 2fr;
  align-items: start;
  grid-template-areas:
    "management management"
    "control-bar control-bar"
    "main aside";

  @media(max-width: 650px) {
    grid-gap: 12px;
    grid-template-areas:
      "management management"
      "control-bar control-bar"
      "main main"
      "aside aside";
  }
}

.grid-event-list {
  display: grid;
  grid-gap: 1.85vw;
  grid-template-columns: repeat(3, 1fr);
}

// Main blocks
$logo-size: 2.5em;

header {
  $header-padding: $device-padding*0.75;
  $profile-size: 60px;

  grid-area: header;
  background: #fff;
  display: flex;
  align-items: baseline;
  padding: $header-padding $device-padding;
  min-height: calc(#{$header-padding}*2 + #{$profile-size});
  box-sizing: border-box;
  transition: padding 0.2s ease-in;

  > a {
    font-size: $logo-size;
    font-weight: $bold;
    color: #000;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }

  .profile {
    width: $profile-size;
    height: $profile-size;
    border-radius: 50%;
    background-size: cover;
  }

  @media(max-width: 1000px) {
    padding: $header-padding/2 $device-padding/2;
    min-height: calc(#{$header-padding/2}*2 + #{$profile-size});

    > a {
      font-size: $logo-size*0.75;
    }
  }
}

footer {
  grid-area: footer;
}

.container,
.container-full {
  grid-area: body;
  width: 100%;
  margin-bottom: 30px;
  padding: $device-padding $device-padding 0;
  box-sizing: border-box;
  transition: padding 0.2s ease-in;

  @media(max-width: 1000px) {
    padding: $device-padding/2 $device-padding/2 0;
  }

  @media(max-width: 650px) {
    padding: 12px 12px 0;
  }
}

.container {
  max-width: 1100px;
  margin: 0 auto;

  > .main {
    grid-area: main;
  }

  > aside {
    grid-area: aside;
  }
}

.surface {
  background: white;
  box-shadow: 0px 1px 3px rgba(23, 23, 23, 0.2);
  border-radius: 3px;
  box-sizing: border-box;
}

.content {
  padding: 2.5em;

  > h1 {
    margin-top: 0;
    font-size: 3.25em;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
}
