$nav-item-size: 1.625em;

nav {
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  a:not(:last-of-type) {
    text-decoration: none;
    color: $dark-grey;
    font-size: $nav-item-size;
    padding: .2em;
    margin-left: 1em;
    display: block;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #000;
    }
  }

  > :nth-child(2) {
    margin-left: auto;
  }

  @media(max-width: 650px) {
    a {
      font-size: $nav-item-size*0.85;
    }
  }
}
