<div class="content">
  <div class="container">
    <h1>Competitors for <%= @event.name %> <%= @scheduled_event.identifier %></h1>

    <div class="list">
      <% @competitors.each do |competitor| %>
        <div>
          <span><%= competitor.user.name %></span>
          <span><%= competitor.user.email %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>