/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
*/
@import "base/fonts";
@import "base/functions";
@import "base/variables";
@import "modules/**/*";


/* Should be colours.scss or summin */
$off-white: darken(white, 4%);

html, body {
  margin: 0;
  padding: 0;
  font-weight: $regular;
}

body {
  background: #e5e5e5;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-weight: $regular;
  margin: 0;
}

.container {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;

  &.column-left {
    width: 670px;
    float: left;
  }

  &.column-right {
    width: 300px;
    float: right;
  }

  &.narrow {
    width: 400px;
  }
}

.content {
  background: white;
  box-shadow: 0px 1px 4px -2px grey;

  border-radius: 3px;
  box-sizing: border-box;

  h1 {
    margin-top: 0;
  }

  &.top-attached {
    background: rgba(white, 0.75);
    padding: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
}

.flash {
  width: 100%;
  background: pink;
  color: $off-white;
  padding: 10px;
  border-radius: 2px;
  box-sizing: border-box;

  &.notice {
    background: rgb(95, 145, 226);
  }
}

form {
  input,
  button {
    font-family: 'Quicksand', sans-serif;
  }

  textarea,
  input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 0.8rem;
    box-sizing: border-box;
  }

  button {
    padding: 8px;
    width: 100%;
    font-size: 0.8rem;
  }
}

@import "*";