// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner {
  background-color: rgba(20, 30, 10, 0.25);
  background-size: cover;
  background-position: bottom right;
  grid-area: 2 / 1 / 2 / 2;
  align-self: start;

  &::after {
    content: "";
    float: left;
    padding-top: 27.7%;
    transition: padding .2s ease-in-out;

    @media (max-width: 1400px) {
      padding-top: 35%;
    }

    @media (max-width: 1200px) {
      padding-top: 45%;
    }

    @media (max-width: 1000px) {
      padding-top: 55%;
    }

    @media (max-width: 650px) {
      padding-top: 40%;
      grid-area: banner;
      grid-column: auto;
    }
  }
}

.event-control-bar {
  grid-area: control-bar;
  $padding: 0.625em;
  $button-size: 1.4em;
  $button-padding: 1em;

  margin-top: 150px;
  line-height: 1.6em;
  font-weight: $medium;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;

  @media (max-width: 650px) {
    margin-top: 0;
  }

  > .event-avatar {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
  }

  .control-bar-details {
    padding: $padding;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.1em;
    color: $dark-grey;
    margin-left: $button-size + $button-padding*2 + $padding*5;

    > :nth-child(2) {
      margin-left: auto;
    }

    button,
    .button {
      padding: $button-padding $button-padding*1.4;
      font-size: $button-size;
    }
  }
}

// Management panel needs a rethink
.management {
  grid-area: management;
  display: flex;
  background: rgba(125, 125, 125, 0.3);
  box-shadow: 0px 1px 3px rgba(23, 23, 23, 0.2);
  border-radius: 3px;
  padding: 1ch 1ch 1ch 1em;
  color: #fff;
  align-items: center;

  > :nth-child(2) {
    margin-left: auto;
    margin-right: 1em;
  }
}

section {

  > h1 {
    text-transform: uppercase;
    font-weight: $regular;
    font-size: 1em;
    padding: 1em 0;
    color: $dark-grey;
  }
}

.content.event-info {
  margin-top: 30px;
}

.map {
  width: 100%;
  padding-top: 100%;
  border-radius: 3px;
}

.subheading {
  color: $medium-grey;
}

// Events dashboard
.event-tile {
  color: $dark-grey;
  text-decoration: none;
  background-size: cover;
  background-position: bottom 2em right;
  overflow: hidden;
  align-items: stretch;
  position: relative;

  &::before {
    content: "";
    padding-bottom: 50%;
    float: left;
  }

  > span:last-of-type {
    background-color: #fff;
    width: 100%;
    padding: 1ch 1em;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
