// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.banner {
  position: absolute;
  z-index: -1;
  float: left;
  width: 100%;
  padding-top: 27.7%;
  background-color: rgba(20, 30, 10, 0.25);
  background-size: cover;
  background-position: bottom right;
  transition: padding .2s ease-in-out;

  @media (max-width: 1400px) {
    padding-top: 35%;
  }

  @media (max-width: 1200px) {
    padding-top: 45%;
  }

  @media (max-width: 1000px) {
    padding-top: 55%;
  }
}

.event-control-bar {
  $padding: 0.625em;
  $button-size: 1.4em;
  $button-padding: 1em;

  margin-top: 150px;
  line-height: 1.6em;
  font-weight: $medium;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  .event-avatar {
    width: $button-size + $button-padding*2 + $padding*4;
    background: red;

    &::after {
      content: "";
      padding-top: 100%;
      width: 100%;
      background: green;
    }
  }

  .control-bar-details {
    padding: $padding;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.1em;
    color: $dark-grey;

    > :nth-child(2) {
      margin-left: auto;
    }

    button,.button {
      padding: $button-padding $button-padding*1.4;
      font-size: $button-size;
    }
  }
}

.content.event-info {
  margin-top: 30px;
}

.map {
  width: 100%;
  padding-top: 100%;
  border-radius: 3px;
}