$light_gray: lighten(black, 30%);
$nav-height: 100px;
$nav-padding: 10px;

nav {
  font-size: 1.2em;
  background-color: white;
  height: $nav-height;
  line-height: $nav-height - 20px;
  width: 100%;
  box-sizing: border-box;
  padding: $nav-padding;

  vertical-align: top;

  color: $light_gray;
  padding-left: 40px;

  * {
    box-sizing: border-box;
  }

  h1 {
    font-size: 2em;
    margin: 0;
    vertical-align: top;

    display: inline-block;

    color: black;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: inline-block;

    li {
      display: inline-block;

      padding-left: 20px;
      padding-right: 20px;
    }
  }

  a {
    text-decoration: none;
    color: $light_gray;

    &:hover {
      color: black;
    }
  }

  span {
    float: right;
    height: $nav-height - 20px;
    line-height: 60px;
  }

  div.profile {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50px;
  }
}